<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Candidatos</title>
</head>
<body>

<header>
    <h1>🗳️ Sistema de Votación</h1>
    <p>Lista de candidatos disponibles</p>
</header>

<main>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre completo</th>
                <th>Partido</th>
                <th>Propuesta</th>
                <th>Total votos</th>
            </tr>
        </thead>
        <tbody>
            <!-- Muestra los candidatos -->
            <tr>
                <td >1</td>
                <td >Juan Pérez</td>
                <td><span class="partido-badge">Partido</span></td>
                <td><p class="propuesta-text">Propuesta...</p></td>
                <td class="votos">0</td>
            </tr>
        </tbody>
    </table>
</main>

</body>
</html>